{% extends "base2.html" %}
{% block content %}

    <div class="container pt-4 mt-6 form_wrapper">

          <div class="text-center justify-content-center col-md-4 mx-auto border border-secondary">
            
                    
                    <form method="POST" action="">
                        {{ form.hidden_tag() }}
                        <fieldset class="form-group">
                            <legend class="border-bottom border-dark">Account Statement</legend>
                            <div class="form-group">
                                {{ form.account_id.label(class="form-control-label") }}
                                {% if form.account_id.errors %}
                                    {{ form.account_id(class="form-control  custom-input  form-control-lg is-invalid text-center") }}
                                        <div class="invalid-feedback">
                                            {% for error in form.account_id.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                {% else %}
                                    {{ form.account_id(class="form-control custom-input form-control-lg text-center") }}
                                {% endif %}
                            </div>
                            
                            <div class="form-group">
                                {{ form.start_date.label(class="form-control-label") }}
                    
                                {% if form.start_date.errors %}
                                    {{ form.start_date(class="form-control custom-input form-control-lg is-invalid text-center") }}
                                        <div class="invalid-feedback">
                                            {% for error in form.start_date.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                {% else %}
                                    {{ form.start_date(class="form-control custom-input form-control-lg text-center") }}
                                {% endif %}
                            </div>
                            
                            <div class="form-group">
                                {{ form.end_date.label(class="form-control-label") }}
                    
                                {% if form.end_date.errors %}
                                    {{ form.end_date(class="form-control custom-input form-control-lg is-invalid text-center") }}
                                        <div class="invalid-feedback">
                                            {% for error in form.end_date.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                {% else %}
                                    {{ form.end_date(class="form-control custom-input form-control-lg text-center") }}
                                {% endif %}
                            </div>
                            
                        </fieldset>
                        <div class="form-group">
                            {{ form.submit(class="btn btn-outline-light") }}
                        </div>
                        
                    </form>
        </div>   
     
        <div style='height: 120px'>

        </div>
      {% if accountStatement %}

          <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Transaction ID</th>
                <th scope="col">Description</th>
                <th scope="col">Date(yyyy-mm-dd)</th>
                <th scope="col">Account Status</th>
                <th scope="col">Amount</th>
              </tr>
            </thead>
            <tbody>
              
             
              {% for transaction in accountStatement %} 
                <tr>
                  <td>{{request.endpoint}}</td>
                  <td>{{transaction.Description}}</td>
                  <td>{{transaction.Date}}</td>
                  <td>{{transaction.Account_Status}}</td>
                  <td>{{transaction.Amount}}</td>
                </tr> 
              {% endfor %}
          
              
            </tbody>
          </table>
      {% endif %}
</div>
{% endblock content %}