{% extends "base2.html" %}
{% block content %}

<div>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Customer Id</th>
        <th scope="col">Account Id</th>
        <th scope="col">Account Type</th>
        <th scope="col">Account Status</th>
        <th scope="col">Message</th>
        <th scope="col">Last Updated</th>
        <th scope="col">Operation</th>
      </tr>
    </thead>
    <tbody>
      <!-- sample rows for checking , delete later-->
      <tr>
        <td>{customer.}}</td>
        <td>{customer.}}</td>
        <td>{customer.}}</td>
        <td>{customer.}}</td>
        <td>{customer.}}</td>
        <td><{customer.}}</td>
        <td><a href=#>{customer.}}</a></td>
      </tr>
      <tr>
        {% if accounts %}
        {% for account in accounts %} 
        <td>{customer.}}</td>
        <td>{customer.}}</td>
        <td>{customer.}}</td>
        <td>{customer.}}</td>
        <td>{customer.}}</td>
        <td>{customer.}}</td>
        <td><a href=#>{customer.}}</a></td>
        {% endfor %}
        {% endif %}
      </tr>
    </tbody>
  </table>
</div>
{% endblock content %}