<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Delete Customer</title>

</head>
<body>
     {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <div>
                        {{ messages[0] }}
                    </div>
                {% endif %}
     {% endwith %}

  <form action = "delete_customer_validation" method = "post" name="myForm" onsubmit="return validateForm()">
      <h2>&nbsp &nbsp &nbsp &nbsp &nbsp  &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp  &nbsp &nbsp  &nbsp  &nbsp &nbsp Add Account  In Bank</h2>
      <table border = "0" align="center"  width = "800">

          <tr>
              <td><p>SSN Id:</p></td>
              <td><input type = "number" name = "id" /></td>
          </tr>

          <tr>
              <td><p>Customer Id:</p></td>
              <td><input type = "number" name = "cid" /></td>
          </tr>

          <tr>
              <td><p>Customer Name:</p></td>
              <td><input type = "text" name = "name" /></td>
          </tr>

          <tr>
              <td><p>Age:</p></td>
              <td><input type="Age"  name="age"></td>
          </tr>


          <tr>
              <td><p>Address:</p></td>
              <td><textarea rows = "5" cols = "50" name = "address">Enter address here...</textarea></td>

          </tr>



         <tr>
             <td><input type = "submit" value = "Confirm Delete" /></p></td>
             <td><input type = "button" value = "Cancle" /></p></td>
         </tr>

      </table>
  </form>


</body>
</html>