{% extends "base2.html" %}
{% block content %}
<div class="col-md-2 mx-auto pt-4 mb-3 " >
    <div class="text-center justify-content-center ">
        

        <div class="card border-0 md-3" style="background: #356aa0; ">
  <img class="card-img-top rounded-circle border mx-auto" src="static/user.png" alt="Card image cap" style="      
height: 200px; width: 200px ">
  
  <ul class="list-group list-group-flush ">
    <li class="list-group-item border-bottom text-white" style='background: #356aa0;'>User</li>
    <li class="list-group-item border-bottom text-white" style='background: #356aa0;'>User Role</li>
   
  </ul>
  <div class="card-body">
    <a href="#" class="card-link border px-2 py-2" style='color: white;'>Logout</a>
  </div>
</div>

    </div>
</div>
{% endblock content %}