{% extends 'base.html' %}

{% block content %}
    <div class="col-md-6 mx-auto pt-2 pb-2 mb-3"
         style=' background-color: rgba(255,255,255,0.7); border-radius: 4px;'>
        <div class="text-center justify-content-center ">


            <form method="POST" action="">
                {{ form.hidden_tag() }}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">Account Details</legend>

                    <div class="form-group row">
                        {{ form.customer_id.label(class="col-sm-4 col-form-label") }}
                        {{ form.customer_id(class="form-control-plaintext col-sm-6 form-control-lg", readonly=true) }}
                    </div>

                    <div class="form-group row">
                        {{ form.account_id.label(class="col-sm-4 col-form-label") }}
                        {{ form.account_id(class="form-control-plaintext col-sm-6 form-control-lg", readonly=true) }}
                    </div>

                    <div class="form-group row">
                        {{ form.account_type.label(class="col-sm-4 col-form-label") }}
                        {{ form.account_type(class="form-control-plaintext col-sm-6 form-control-lg", readonly=true) }}
                    </div>

                    <div class="form-group row">
                        {{ form.balance.label(class="col-sm-4 col-form-label") }}
                        {{ form.balance(class="form-control-plaintext col-sm-6 form-control-lg", readonly=true) }}
                    </div>

                </fieldset>

                <button type="submit" class="btn btn-primary mb-1" formaction="/cashier_withdraw">Withdraw Amount
                </button>
                <button type="submit" class="btn btn-primary mb-1" formaction="/cashier_deposit">Deposit Amount
                </button>
                <button type="submit" class="btn btn-primary mb-1" formaction="/cashier_transfer">Transfer Amount
                </button>

            </form>

            </form>
        </div>
    </div>
{% endblock %}